@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

html {
    background-color: var(--light-color-smoke);
    overflow-x: hidden;
}

/* body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} */


main {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	color: var(--primary-color);
	font-size: var(--font-size-l);
	font-weight: 700;
}

h3 {
	color: var(--secondary-color);
    font-size: var(--font-size-sm);
    margin: 1em auto 1em auto;

}

ul li {
	list-style-type: none;
}

a {
    color: var(--dark-color-black);
}

hr {
    border: none;
    background-color: var(--dark-color-black);
    height: 1px;
}

.scrollTo {
    color: var(--light-color-white);
    width: 38px;
    height: 37px;
    background-color: var(--secondary-color);
    position: fixed;
    top: 93%;
    left: 88%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    transition: 0.8s ease-in;
    -webkit-transition: 0.8s ease-in;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
}

.scrollTo.active {
    visibility: visible;
    opacity: 1;
}

.scrollTo:hover {
    background-color: rgb(34, 139, 34);
}

.scrollTop i {
    font-size: var(--font-size-xs);
}


:root {
	--light-color-smoke: #eeebe8;
    --light-color-white: #ffffff;
    --light-color-grey: #808080;
    --dark-color-black: #000000;
    --primary-color: #228b22;
    --secondary-color: #006d5b;
    --font-size-xxs: 1.2rem;
    --font-size-xxxs: 1rem;
    --font-size-xs: 1.5rem;
    --font-size-sm: 2rem;
    --font-size-m: 2.5rem;
    --font-size-l: 3.5rem;
    --font-size-xl: 4.5rem;
	--gradient: linear-gradient(to top, rgba( 34, 139, 34, 0.5)50%, rgba( 0, 109, 91, 0.5)50%);
}



/* <-------- FORM POP UP ---------> */
#formPop {
    width: 90vw;
    height: 90vh;
    padding: 1em;
    background: var(--light-color-white);
    position: fixed;
    top: 2em;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    overflow-y: scroll;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#formPop.activated {
    opacity: 1;
    transform: scale(1);
}

#close {
    color: var(--light-color-white);
    width: 4em;
    padding: 0.5em;
    cursor: pointer;
    background: var(--primary-color);
    /* position: fixed; */
}

input, select {
    border: none;
    outline: none;
    width: 80vw;
    height: 3em;
    margin-top: 1em;
    padding: 0.2em;
    background: var(--light-color-smoke);
}

input, select:hover {
    outline: 1px solid var(--primary-color);
}

option {
    color: var(--secondary-color);
}

#website_design, #functions {
    width: auto;
    height: auto;
}

legend {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    cursor: pointer;
    margin-top: 1em;
    color: var(--light-color-white);
    background: rgb(34,139,34);
    background: linear-gradient(193deg, rgba(34,139,34,1) 39%, rgba(0,109,91,1) 67%);
    padding: 1em;
    border: none;
    border-radius: 0.2em;
}

.submit:hover {
    background: var(--primary-color);
    background: linear-gradient(351deg, rgba(34,139,34,1) 39%, rgba(0,109,91,1) 67%);
}

.form_functions {
    display: inline;
    margin-inline: 0.1em;
}

/* <!-- HEADER --> */

.header {
    overflow: hidden;
    margin: 0.5em 0.5em 1em 0.5em;
   display: flex;
   justify-content: space-between;
}

                /* LOGO */
.Logo {
    font-size: var(--font-size-xs);
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

.Logo_span {
    font-size: var(--font-size-sm);
    font-weight: 700;
    color: var(--primary-color);
}


.navMenu {
    display: flex;
    justify-content: space-between;
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mainMenu {
    width: 100%;
    height: 12em;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3em;
    /* left: -100%; */
    left: 0;
    right: 20%;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mainMenu.active{
    opacity: 1;
    transform: scale(1);
    /* left: 0; */
}

.mainMenu li {
    margin-top: 1em;
}

.hamBurger {
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 2.2em;
    padding: 0.2em;
    margin-right: 0.5em;
}

.hamBurger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamBurger.active  .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}
.hamBurger.active  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}


.menuLinks {
    color: var(--light-color-white);
    font-size: var(--font-size-xxxs);
    padding: 5px 1em;
    border: none;
    background: none;
    cursor: pointer;
}

/* .menuLinks:hover {
    color: var(--light-color-white);
} */

#freequotes {
    color: var(--light-color-white);
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
}

#freequotes:hover{
    color: var(--secondary-color);
    background-color: var(--light-color-smoke);
}


/* //ANIMATION// */

h2, h3, p, hr, img, figure {
    opacity: 0;
    transform: translateY(10px);
    /* transform: scale(-300px); */
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;

}

.scroll-animation {
    opacity: 1;
    transform: translateY(0);
    /* transform: scale(1); */
}

/* <!-- HERO SECTION --> */

.hero_section {
    overflow: hidden;
    margin: 1em 0.5em 1em 0.5em;
}

.hero_section h1 {
    font-size: var(--font-size-sm);
    font-weight: 700;
    margin-top: 1em;
}

.text_image {
    display: flex;
    flex-direction: column;
}

.hero_image {
    width: 90vw;
    height: auto;
    margin: 0.5em 0 0 0.6rem;
}

.auto-type {
    color: var(--primary-color);
}

.text {
    margin-top: 0;
    font-size: var(--font-size-xxxs);
    width: auto;
}

/* <!-- SERVICES SECTION --> */

 .experience {
    margin-top: 3em;
 }

 .services_section {
    margin: 2em 0.5em 1em 0.5em;
   
 }

 
 .little_data {
    display: flex;
    justify-content: space-between;
 }

hr {
    height: 1px;
    margin-top: 5px;
    background-color: var(--light-color-grey);
    border: none;
}

.experience_paragraph_one, .services_paragraph_one {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.services_paragraph_one, .experience_paragraph_one {
    font-size: 1.5em;
}


/* <!-- WORK SECTION --> */

.work_section {
    margin: 2em 0.5em 1em 0.5em;
}


.impression_work_image_two {
    width: 80vw;
    /* height: 50vh; */
    margin: 20px 0 0 20px;
    transition: transform .3s ease;
}

.impression_work_image_two:hover {
    transform: scale(1.02);
}

.impression_work_image_one {
    background-color: var(--light-color-white);
    width: 90vw;
    /* height: 50vh; */
    padding: 1em 0 0 0.2em;
    margin: auto;
}

.work_text_container {
    margin-top: 1em;
    margin-bottom: 5em;
}
.impression_text {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0.5em auto 0.5em auto;
}


/* <!-- ABOUT ME SECTION --> */

.about_section {
    margin: 2em 0.5em 1em 0.5em;
}


.about_section_paragraph_one, 
.about_section_paragraph_two {
    font-size: var(--font-size-xxs);
    /* width: 50ch; */
}

.about_section_paragraph_two {
    /* width: 35ch; */
    margin-top: 3em;
}

.about_image {
    width: 90vw;
    height: auto;
    margin-left: 0.5em;
}


/* <!-- CONTACT SECTION --> */

.contact_section {
    margin: 2em 0.5em 1em 0.5em;
}

.contact_link a:hover {
    color: var(--light-color-white);
    background-color: var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
}


.contact_link a {
    font-size: 1.5rem;
    padding: 5px 10px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.contact_link hr {
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.contact_link_wrapper a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* <!-- FOOTER SECTION --> */

.footer_section {
    margin: 2em 0.5em 1em 0.5em;
}

.nothing {
    display: none;
}

.footer_section_second_container {
    display: flex;
}

.footer_link {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-top: 5px;
    padding: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.footer_link:hover {
    color: var(--light-color-white);
    border-radius: 3px;
    background-color: var(--primary-color);
}

.footer_section_first_container a {
    font-size: 8.4vw;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.footer_section_first_container a::after {
    content: "";
	position: relative;
	left: 0;
	bottom: -7px;
    display: block;
	width: 0;
	height: 1px;
	background-color: var(--secondary-color);
	transition: width 0.25s ease-out;
}

.footer_section_first_container a:hover::after {
	width: 100%;
}


.foooter_section_first hr {
    margin-top: 0.1em;
}

.footer_column_one {
    margin-right: 5rem;
}

.footer_column_two .footer_link:hover {
    color: var(--secondary-color);
    background-color: var(--light-color-smoke);
}

.footer_section_second_container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}


/* <--------gradient---------> */

.gradient-overlay {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #008000, #008080);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .gradient-overlay.visible {
    opacity: 1;
  }


/* <---------MEDIA QUERY---------->  */

@media screen and (min-width: 43.75em) {
    .bar, .hamBurger {
        display: none;
    }

    .mainMenu{
        width: auto;
        opacity: 1;
        transform: scale(1);
        background-color: transparent;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -2.9em;
        left: 28em;
    }

    .menuLinks {
        color: var(--dark-color-black);
        padding: 5px 1em;
        margin-left: 0.2em;
        border-radius: 0.4em;
        transition: 0.5s ease-in;
        -webkit-transition: 0.5s ease-in;
    }

    .menuLinks:hover {
        color: var(--light-color-white);
        background-color: var(--primary-color);
    }

    .mainMenu li {
        margin: 0;
    }

    #freequotes {
        display: flex;
        text-align: center;
        width: 7em;
        padding: 0.5em;
        border-radius: 0.5em;
        margin-left: 0.2em;
        transition: 0.8s ease-in-out;
        -webkit-transition: 0.8s ease-in-out;
        background-color: var(--primary-color);
    }
    
    #freequotes:hover{
        color: var(--secondary-color);
        box-shadow: 5px 10px 18px var(--secondary-color);
        background-color: var(--light-color-white);
    }

    .hero_section h1 {
        font-size: var(--font-size-l);
    }

    .contact_section_container {
        display: flex;
        justify-content: space-between;
    }
    
    .contact_link {
        width: 45vw;
    }

    .footer_section {
        display: flex;
        justify-content: space-between;
    }

    .footer_section_first_container a {
        font-size: var(--font-size-m);
    }

    .scrollTo {
        top: 89%;
        left: 90%;
    }
    
}     /* 700px */

@media screen and (min-width: 48em) {
    .mainMenu{
        top: -3em;
        left: 33em;
    }

    .Logo {
        font-size: 1.7em;
        font-weight: 600;
    }

    .Logo_span {
        font-size: 3rem;
        font-weight: 700;
    }
    
    .text {
        width: 40ch;
    }

    .hero_section h1 {
        font-size: var(--font-size-xl);
    }

    .footer_section_first_container a {
        font-size: var(--font-size-m);
    }

    .scrollTo {
        top: 95%;
        /* left: 90%; */
    }
   
}        /* 768px */

@media screen and (min-width: 62em) {}       /* 992px */

@media screen and (min-width: 64em) {

    main {
        margin: 2em 1.5em 1em 2em;
    }

    .mainMenu {
        top: -2em;
        left: 50em;
      }

    .text_image {
        display: flex;
        flex-direction: row;
    }

    .hero_image {
        width: 50vw;
        height: auto;
        margin: 0 0 0 0;
    }

    .text {
        margin: 35em 6em 0 0;
      }

      .services_section {
        display: flex;
        justify-content: space-between;
      }

      .service, .experience {
        width: 45vw;
      }

      .service {
        margin-top: 3em;
      }


      .impression {
        display: flex;
        margin-top: 2em;
      }


      .impression_work_image_one {
        width: 50vw;
        padding: 1em 0 0 0.2em;
        margin: 1em auto 3em auto;
    }
      .impression_work_image_two {
        width: 45vw;
        padding: 1em 0 0 0.2em;
        /* margin: auto; */
    }


    .work_text_container {
        width: 45ch;
    }


    h3 {
        margin: 1em auto 1em auto;
    }

    .about_section_paragraph_one {
        width: 40ch;
    }
    .about_section_paragraph_two {
        width: 40ch;
        float: right;
        margin-bottom: 1em;
    }

    .about_image {
        width: 80vw;
        /* margin-left: 0.5em; */
    }

    .footer_section_first_container a {
        font-size: var(--font-size-l);
      }

      .scrollTo {
        top: 90%;
        left: 95%;
      }      

    
}       /* 1024px */

@media screen and (min-width: 75em) {

    .mainMenu {
        /* top: -1em; */
        left: 55em;
      }

    body {
        max-width: 75em;
        width: 100%;
        margin-inline: auto;
    }


    main {
        margin: 2em auto 1em auto;
    }

    .menuLinks {
        /* color: var(--light-color-white); */
        font-size: var(--font-size-xs);
        padding: 5px 1em;
    }

    #freequotes {
        padding: 0.8em;
    }

    .hero_image {
        width: 45vw;
        height: auto;
        margin: -3em 0 0 0;
    }

    .text {
        margin: 38em 15em 0 0;
      }

      .about_image {
        width: 40vw;
        margin-top: 1em;
      }

      .about_section_paragraph_two {
        margin-top: 1em;
      }

      .contact_link {
        width: 40vw;
      }

      .service, .experience {
        width: 40vw;
      }

}       /* 1200px */

@media screen and (min-width: 93.75em) {}      /* 1500px */

/* ///// MOBILE DEVICE LANDSCAPE  ////// */

@media screen and (max-height: 425px) and
(min-aspect-ratio: 7/4) {
    .mainMenu{
        top: -3em;
        left: 33em;
    }
}